.wrapper {
    height: calc(100vh - 14rem - 8rem);
    display: flex;
    justify-content: center;
    align-items: center;
}

.ball {
    background-color: black;
    color: white;
    height: 30rem;
    width: 30rem;
    border-radius: 50%;
    font-size: 3rem;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
}

.eight {
    display: inline-block;
    height: 25%;
    width: 25%;
    background: white;
    border-radius: 50%;
    color: black;
    font-size: 6rem;
    padding: 2rem;
    line-height: 7.5rem;
}

@media screen and (min-width: 425px) {
    .ball {
        height: 38rem;
        width: 38rem;
    }

    .eight {
        font-size: 7rem;
        line-height: 9rem;
    }
}

@media screen and (min-width: 700px) {
    .ball {
        height: 50rem;
        width: 50rem;
    }

    .eight {
        line-height: 12rem;
    }
}

.answer {
    color: white;
    max-width: 80%;
}