.btn {
    color: white;
    background-color: transparent;
    font-family: 'Montaga', serif;
    padding: 1rem;
    font-size: 1.6rem;
    border: none;
    border-radius: 1rem;
    cursor: pointer;
}

@media screen and (min-width: 467px) {
    .btn {
        font-size: 1.8rem;
    }
}