.installPrompt {
    background-color: chocolate;
    color: black;
    height: 300px;
    width: 280px;
    position: absolute;
    left: 50%;
    top: -25%;
    transform: translate(-50%, -25%);
}

.installPrompt--visible {
    animation: show 1s ease-in-out;
    top: -50%;
    transform: translate(-50%, -50%);
}

.installPrompt--hidden {
    animation: hide 1s ease-in-out;
    top: -25%;
    transform: translate(-50%, -25%);
}

@keyframes show {
    0% {
        top: -25%;
        transform: translate(-50%, -25%);
    }

    80% {
        top: -60%;
        transform: translate(-50%, -60%);
    }

    100% {
        top: -50%;
        transform: translate(-50%, -50%);
    }
}

@keyframes hide {
    0% {
        top: -50%;
        transform: translate(-50%, -50%);
    }

    100% {
        top: -25%;
        transform: translate(-50%, -25%);
    }
}

