
.logo {
    font-family: 'Henny Penny', cursive;
    font-size: 4rem;
    height: 10rem;
    line-height: 10rem;
    padding: 2rem;
    margin: 0 auto;
}

@media screen and (min-width: 425px) {
    .logo {
        font-size: 6rem;
        height: 12vh;
        line-height: 10rem;
    }
}

@media screen and (min-width: 768px) {
    .logo {
        font-size: 8rem;
        height: 11rem;
        line-height: 11rem;
        padding: 3rem 2rem 2rem 2rem;
    }
}