.logo {
    font-family: 'Henny Penny', cursive;
    font-size: 7rem;
    height: 8rem;
    padding: 2rem;
    margin: 2rem auto 0 auto;
    height: 22vh;
    line-height: 10rem;
}

@media screen and (min-width: 467px) {
    .logo {
        margin: 3rem auto 0 auto;
        height: 10vh;
    }
}

@media screen and (min-width: 1440px) {
    .logo {
        margin: 4.5rem auto 0 auto;
        height: 12vh;
        font-size: 10rem;
    }
}